# global options
{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

# Site block
:{$PORT:3000} {
    log {
        format json
    }

    # Health check endpoint for Railway
    rewrite /health /*

    # Serve files from the 'dist' directory
    root * dist

    # Enable gzip for compression
    encode gzip

    # Serve files from 'dist' folder
    file_server

    # Route client-side paths to index.html
    try_files {path} /index.html
}